@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Asap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(8, 8, 102);
    color: white;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Josefin Slab', serif, 'Asap', sans-serif;
}

.score-board {
    background: black;
    color: white;
    width: 100%;
    font-size: 3rem;
    
    
    
    
    
}

.score-board > p, .score-board > span {
    display: inline-block;
    font-family: 'Josefin Slab', serif, 'Asap', sans-serif ;
    
}

.user-score {
    margin-left: 50rem;
}

.computer {
    margin-left: 40rem;
}

.game-message {
    font-size: 3rem;
    text-align: center;
}

.choose > p {
    font-family: 'Asap', sans-serif ;
    font-size: 3rem;
    text-align: center;
    margin-top: 5%
}
.choices {
    margin-top: 15%;
}

#rock, #paper, #scissors {
    display: inline;
    
    margin-left: 15%;
    
    outline: none;
}

img {
    width: 15%;
    border-radius: 50%;
    border: 3px solid black;
    
}